# Web backend
flask==3.1.0
python-dotenv

# Google API related
google-api-python-client==2.122.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
httplib2==0.22.0
uritemplate==4.1.1

# Data processing
pandas==2.2.3
numpy==2.2.5
openpyxl==3.1.5
requests==2.32.3
datetime
