{% extends "index.html" %}
{% block content %}
    <h4>Uploaded Files</h4>
    <br>

<!--             <ul>
                {% for file in files %}
                <li class='list-gap' >
                <li class='text-break mx-auto w-100' >
                    {{ file }}
                    <button class='rightside-button'  onclick="deleteFile('{{ folder }}/{{ file }}')">Delete</button>
                    <button onclick="deleteFile('{{ folder }}/{{ file }}')">Delete</button>
                </li>
                {% endfor %}
            </ul> -->

    {% for folder, files in categorized_files.items() %}
    {% if folder != 'upload' %}
    <section>
        <div>
            <h5>Files in {{ folder|upper }} </h5>
            <table>
                <thead>
                    <tr>
                        <th class='list-table-th-l'>Filename</th>
                        <th  class='list-table-th-r'>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                    <tr class='list-table-tr'>
                        <td class='list-table-td-l'>{{ file }}</td>
                        <td class='list-table-td-r'>
                            <div class='d-inline-flex flex-wrap justify-content-end gap-1'>
                                <button class='btn-radio' onclick="downloadFile('uploads', '{{ file }}')">Download</button>
                                <button class='btn-radio' onclick="deleteFile('uploads', '{{ file }}')">Delete</button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endif %}
    {% endfor %}

    <script src="{{ url_for('static', filename='list.js') }}"></script>

<!--     <script>
    </script> -->
{% endblock %}
