{% extends "index.html" %}
{% block content %}
    <h4>Uploaded Files</h4>
    <br>
    <section>
        <div class='row'>

            <div class='col-md-3'>
                <div>
                    <label for='mapperUpload'>Upload Mapper Files</label>
                    <input type='file' id='mapperUpload' class='form-control'>
                    <!-- <div class='btn-radio'>
                        <input type='radio' name='mapper_upload' value='mapper_design'> Design Name
                        <input type='radio' name='mapper_upload' value='mapper_courier_state'> Courier State
                        <input type='radio' name='mapper_upload' value='mapper_size'> Size
                    </div> -->
                    <div>
                        <button class='btn-radio' onclick='uploadFile()'>Upload Files</button>
                    </div>
                </div>
            </div>

            <div class='col-md'>
                <div class='custom-link-list'>
                        {% for name, link in links.items() %}
                            <li><a href='{{ link }}' download>{{ name.replace('_', ' ')|title }}</a></li>
                        {% endfor %}
                </div>
            </div>
            <div class='col-md'>
            </div>
            
        </div>
    </section>

    {% for folder, files in categorized_files.items() %}
    {% if folder != 'upload' %}
    <section>
        <div>
            <h5>Files in {{ folder|upper }} </h5>
            <table>
                <thead>
                    <tr>
                        <th class='list-table-th-l'>Filename</th>
                        <th  class='list-table-th-r'>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                    <tr class='list-table-tr'>
                        <td class='list-table-td-l'>{{ file }}</td>
                        <td class='list-table-td-r'>
                            <div class='d-inline-flex flex-wrap justify-content-end gap-1'>
                                <button class='btn-radio' onclick="downloadFile('uploads', '{{ file }}')">Download</button>
                                <button class='btn-radio' onclick="deleteFile('uploads', '{{ file }}')">Delete</button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endif %}
    {% endfor %}

    <script src="{{ url_for('static', filename='list.js') }}"></script>

<!--     <script>
    </script> -->
{% endblock %}
