{% extends "index.html" %}
{% block content %}
    <h4>Downloadable Files</h4>
    <br>

    <section>
        <div>
<!--             <ul>
                {% for file in download %}
                <li>
                    {{ file }}
                    <a href='{{ url_for("download_file", filename=file) }}' download>Download</a>
                    <button onclick="window.location.href='{{ file.url }}'">Download</button>
                    <button onclick='deleteFile("{{ file }}")'>Delete</button>
                </li>
                {% endfor %}
            </ul> -->
            
            <table>
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th style='text-align:right;'>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                    <tr>
                        <td class='text-break mx-auto w-100' style='width: 100%;'>{{ file }}</td>
                        <td style='text-align: right; white-space: nowrap;'>
                            <button onclick="downloadFile('exports', '{{ file }}')">Download</button>
                            <button onclick="deleteFile('exports', '{{ file }}')">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


            
        </div>
    </section>
    <script src="{{ url_for('static', filename='list.js') }}"></script>
<!--     <script>

    </script> -->
{% endblock %}
