{% extends "index.html" %}
{% block content %}
    <h4>Downloadable Files</h4>
    <br>

    <section>
        <div>
<!--             <ul>
                {% for file in download %}
                <li>
                    {{ file }}
                    <a href='{{ url_for("download_file", filename=file) }}' download>Download</a>
                    <button onclick="window.location.href='{{ file.url }}'">Download</button>
                    <button onclick='deleteFile("{{ file }}")'>Delete</button>
                </li>
                {% endfor %}
            </ul> -->
            
            <table>
                <thead>
                    <tr>
                        <th class='list-table-th-l'>Filename</th>
                        <th  class='list-table-th-r'>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                    <tr class='list-table-tr'>
                        <td class='list-table-td-l'>{{ file }}</td>
                        <td class='list-table-td-r'>
                            <div class='d-inline-flex flex-wrap justify-content-end gap-1'>
                                <button class='btn-radio' onclick="downloadFile('exports', '{{ file }}')">Download</button>
                                <button class='btn-radio' onclick="deleteFile('exports', '{{ file }}')">Delete</button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


            
        </div>
    </section>
    <script src="{{ url_for('static', filename='list.js') }}"></script>
<!--     <script>

    </script> -->
{% endblock %}
